
ul {
    list-style: none;
    padding: 0;
}

li p {
    margin: 0;
}

.list li {
    margin-bottom: 20px;
}
.skills ul {

    display: grid;
    grid-template: 1fr/repeat(3,1fr);
    grid-gap: 1rem;
    grid-row-gap: 1rem;
}

.skills li {
    
}