h5 {
    color: #161a1d;
    text-decoration: underline;
    font-size: 1rem;
}

section .container-xxl {
/*     margin-bottom: 5%;
    margin-top: 5%; */
    max-width: 90%;
}

.socials svg {
    width: 35px;
    margin-right: 10px;
    fill: #4f4f4f;
    height: auto;
}

.socials svg:hover {
    fill:#161a1d;
}


.form-control {
    background: #fafafa;
    border-radius: 0px;
    border: 1px solid #dbdbdb;
}

.drawing {
    position: absolute;
    max-width: 400px;
    width: 100%;
    display: block;
}


/* Small devices */
@media (max-width: 576px) {
    .drawing {
        display: none;
    }
}