
.background {
    background-image: url(../../assets/images/mountains_snow_2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
  }
  .cloudOne {
    margin: 0 auto;
    right: 0;
    top: 20% !important;
    width: 60%;
  }
  .cloudTwo {
    margin: 0 auto;
    right: 0;
    opacity: 0.4;
    width: 100%;
  }
  .homeText {
    display: flex;
    flex-direction: column;
    margin: 10% 4%;
  }
  
  h1 {
    font-family: 'Rozha One', serif;
  }
  .homeText h1 {
    font-weight: 800;
    font-size: 4rem;
    margin: 0;
    line-height: 1;
    letter-spacing: 0px;
    z-index: 3;
    
  }
  .homeText p {
    margin: 1px;
    font-size:  min(max(2rem, 4vw), 25px);
    font-weight: 400;
    background: #fff;
    width: fit-content;
    padding: 0 10px;
  }


  @media (max-width: 576px) {
  .background {
    height: 95vh;

  }
  .homeText { 
    margin: 10% 4%;
  }
} 