h4 {
   
}

.row {
    margin-top: 40px;
}
.row:last-child {
    margin-bottom: 0px;
}
.projects {
    background: #f7f7f7;
    padding-bottom: 5%;
    padding-top: 5%;
}
.projects .row:nth-child(odd) {
    flex-direction: row-reverse;
}
.col-sm-8 {
    position:relative;
    margin-bottom: 20px;
}

.projects .col-sm-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
}

.mask {
    left: 0%;
    width: 100%;
}





/* Small devices */
@media (max-width: 576px) {

 }
